@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}

header {
	height: 30px;
	display: block;
	width: 100%;
	background: #fff;
	z-index: 9;
	text-align: center;
	color: #f2f2f2;
	padding: 20px 0 20px 0;
	position: absolute;
	top: 0;
}

.header {
	width: 70%;
	text-align: left;
	margin: 0 auto;
}

.header h1 {
	font-size: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("imgs/bg-header.jpg");
    width: 100vw;
    height: 100vh;

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#icnDown {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -13px;
}

#icnDown {
    display: block;
    background: url(imgs/arrow-down.png) left top no-repeat;
    width: 30px;
    height: 16px;
}


.hero-image h2, .hero-image p {
	color: #fff;
}


h2 {
	font-family: 'League Spartan';
	color: #000;
	font-weight: 700;
	clear: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3.5em;
	line-height: 1.3em;
	margin-bottom: 35px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 1.62em;
	line-height: 1.45em;
	margin-bottom: 50px;
}

/* Pattern background in each section
* --------------------------------------- */
.pattern {
		text-align:center;
		background-color: #fff;
		background-image: url('imgs/bg-pattern.png');
		background-repeat: repeat;
		background-attachment: scroll;
		/*padding: 45px 0;*/
}

div.content {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
	background: #fff;;
	padding: 45px 130px;
}

.invit {
	font-family: 'League Spartan';
	text-transform: uppercase;
	font-size: 18px; 
	padding: 0 100px;
}




.form {
    /* no image bg */
    background-image: none;
    background-color: #d82953;
    text-align: center;
}


.typeform-widget {
	display: none;
}

.outro h2 {
    margin-bottom: 60px;
}

.outro h2 a {
    color: #fff;
    border: 1px solid #fff;
    padding: 40px 50px 20px 50px;
}

.outro h2 a:hover {
    color: #d82953;
    border: 1px solid #fff;
    background-color: #fff;
}

footer {
	height: 80px;
	display: block;
	width: 100%;
	background: #282828;
	z-index: 9;
	text-align: center;
	padding: 20px 0 20px 0;
	position: absolute;
	bottom: 0;
}

.footer {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.footer p {
	color: #fff; font-size: 12px;
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) { 
	#fp-nav.fp-right {
		display: none;
	}
	
	.intro img {
		width: 10%
	}
	
	h2 {
		font-size: 2.5em;
		margin-bottom: 25px;
	}
	
	P {
		font-size: 1.1em;
		margin-bottom: 40px;
	}
	
	p.invit {
		padding: 0 5px;
	}
	
	div.content {
		width: 75%;
	    padding: 30px;
	}
	
	.outro h2 {
	    font-size: 1.3em;
	}
	
	.outro h2 a {
	    padding: 20px 25px 10px 25px;
	}


}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) { 

	#fp-nav.fp-right {
		display: none;
	}
	
	.intro img {
		width: 10%
	}
	
	h2 {
		font-size: 2.5em;
		margin-bottom: 25px;
	}
	
	P {
		font-size: 1.1em;
		margin-bottom: 40px;
	}
	
	p.invit {
		padding: 0 5px;
	}
	
	div.content {
		width: 75%;
	    padding: 30px;
	}
	
	.outro h2 {
	    font-size: 1.3em;
	}
	
	.outro h2 a {
	    padding: 20px 25px 10px 25px;
	}

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) { 

	#fp-nav.fp-right {
		display: none;
	}
	
	.intro p {
    	font-size: 1.1em;
    	margin-bottom: 25px;
    }
    
    .intro img {
		width: 15%
	}
	
	#section1 img {
		width: 100%;
		height: 100%;
	}

	#section3 img {
		width: 100%;
	}

	h2 {
		font-size: 1.5em;
		margin-bottom: 25px;
	}
	
	P {
		font-size: 1.1em;
		margin-bottom: 40px;
	}
	
	p.invit {
		padding: 0 5px;
	}
	
	div.content {
		width: 75%;
	    padding: 30px;
	}
	
	.outro h2 {
	    font-size: 1em;
	}
	
	.outro h2 a {
	    padding: 20px 25px 10px 25px;
	}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	.outro h2 {
	    font-size: 2.3em;
	}
}
	

@media only screen and (max-device-width : 479px) { 

	div.content {
    	height: unset;
    	margin-top: 7%;
    	margin-bottom: 7%;
	}


}